/*============== [ CSS STYLE ] =============*/
/* BY ERNESTO YOOFI, Online : https://ernestoyoofi.github.io/style/style.css */
*, body{ margin:0;
	 padding:0;
	 font-size: 14px;
}
/*============ [ Smooth Scroll Pages ] ============*/
html {
  scroll-behavior: smooth;
}
body{ 
		background-color: white; font-family: 'Fira Sans', sans-serif;
}
img {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
iframe {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
video {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
audio {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.bg-dark {
  color: white;
}
.close-bar-btn {
		padding-top: 10px;
		padding-left: 10px;
		transition: 1s;
}
a {
  text-decoration: none;
  color: white;
}
hr {
  background-color: gray;
  border: 0.2px solid gray;
  decoration: none;
}
/*============== [ Navigation Bars ] ==============*/
.navbar {
  top: 0;
  left: 0;
	 color: #b5b5b5;
	 background-color: white;
	 box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	 width: 100%;
	 padding: 10px 10px;
	 height: auto;
	 position: fixed;
	 border-bottom: 1px solid #e3e3e3;
}
.icon-high {
		font-size: 20px;
		color: white;
}
.nav-link {
  top: 0;
	 color: #b5b5b5;
	 backdrop-filter: blur(8px);
	 height: 100%;
	 width: 100%;
	 max-width: 290px;
	 border-right: 0.3px solid gray;
	 border-left: 0.3px solid gray;
	 box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	 position: fixed;
	 color: white;
	 overflow: scroll;
	 background-color: rgba(20, 20, 20, 0.45);
}
.bg-navbar {
	 width: 100%;
	 height: 100%;
	 background-color: rgba(20,20,20,0.50);
}
.nav-bar-show {
  animation-name: animationbar;
  animation-duration: 1.7s ease;
}
@keyframes animationbar {
	 from { opacity: 0; }
	 to { opacity: 1;}
}
.nav-bar-hidden {
	animation-name: animationbarhidden;
 animation-duration: 1.7s ease;
}
@keyframes animationbarhidden {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
.banner-image {
	 width: 100%;
	 height: auto;
	 max-height: 260px;
	 overflow: hidden;
	 display: flex;
  justify-content: center;
  align-items: center;
}
.title-image {
	 position: absolute;
	 text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-shadow: 1.4px 1.4px black, 1px 1px black, 0.3px 0.3px black, 0.7px 0.7px black;
  color: white;
}
.title-image-info {
	 position: absolute;
  font-size: 12px;
  margin-left: 5.5px; margin-bottom: 5.5px; margin-top: 5.5px;
  display: table-cell;
  vertical-align: bottom;
}
.menu-item {
  list-style-type: none;
}
.menu-item 
i { 
  width: 45px; 
  font-size: 18px;
  padding: 9px; }
}
.space-sm {
	 padding: 6px;
}
.space-med {
	 padding: 7px;
}
.display-n {
  display: none;
}
.display-inline {
	display: inline;
}
.by-made {
 width: 100%;
 height: auto;
 padding-top: 15px;
 padding-bottom: 15px;
 background-color: #d4d4d4;
}
.slc-bar {
	border: 1px solid #006cff;
	animation: coloranimation 3s infinite;
}
@keyframes coloranimation {
	0%  {border: 1px solid #006cff;}
	20% {border: 1px solid #b900ff;}
	40% {border: 1px solid #ff0a00;}
	60% {border: 1px solid #a4ff00;}
	80% {border: 1px solid #00ffc0;}
	100%{border: 1px solid #006cff;}
}
.uncls-bar {
 border: 1px solid transparent;
}
.uncls-bar:hover {
	border: 1px solid #00eaff;
	animation: coloranimation 3s infinite;
}
.space-sm {
	padding-top: 2px;}
.float-right {
	float: right;
}
.float-left{
	float: left;
}
.float-center {
	float: center;
}
.fs-8 {
	font-size: 8px;
}
.fs-10 {
	font-size: 10px;
}
.fs-18 {
 font-size: 18px;
}
.bg-dark {
	color: white;
}
.bg-light {
 color: black;
}
/* ================== [ Colors ] ================= */
.text-primary {
	color: #0057ff;
}
.text-secondary {
	color: #555555;
}
.text-danger {
	color: #ff0a00;
}
.text-warning {
	color: #ffdc00;
}
.text-info {
 color: #00c0ff;
}
.text-muted {
	color: #797979;
}
.text-white {
	color: white;
}
.text-blue {
	color: #0033cc;
}
.text-aqua {
	color: aqua;
}
.text-orange {
	color: orange;
}
/* =============== [ Box Pages ] ================ */
.responsive-pages{
 max-width: 950px;
 margin: auto;
	padding: auto;
}
.long-responsive-pages{
 max-width: 1540px;
 margin: auto;
	padding: auto;
}
.center {
	margin: auto;
}
.pages {
	width: 95%;
	height: 100%;
	padding: 5px;
	border-radius: 3px;
	background-color: #f5f5f5;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.pages-med {
 left: 0;
	width: 95%;
	height: 100%;
	padding: 5px;
	max-width: 600px;
	border-radius: 3px;
	background-color: #f5f5f5;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.pages-low {
 float: right;
 right: 0;
	width: 95%;
	height: 100%;
	max-width: 300px;
	padding: 5px;
	border-radius: 3px;
	background-color: #f5f5f5;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.bars-size {
  border-radius: 4px;
  position: none;
  overflow-x: hidden; 
  overflow-y: hidden; 
  width: 40%;
  height: 30%;
  background-color: #303030;
}
.text-right {
	float: right;
	padding-right: 5px;
}
.pdg-left-9 {
	padding-left: 9px;
}
.pdg-left-13 {
	padding-left: 13px;
}
.pdg-left-17 {
 padding-left: 17px;
}
.auto-pages-display {
	overflow: auto;
}
.embed-link-google {
	width: 90%;
	max-width: 340px;
 background-color: #dcdcdc;
 padding: 7px;
 border-radius: 1px;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.iframe-yt { 
 width: 100%;
 height: 74%;
 overflow: auto;
}
.font-normal {
 font-style: normal;
 font-weight: normal;
}
.fixed-display-float {
	overflow: auto;
}
.embed-6by19 {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.embed-item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.qr-code-tag {
  width:160px;
  height:160px;
  margin-top:15px;
}
.fade {
  animation-name: fade;
  animation-duration: 1.7s;
}
@keyframes fade {
  from {filter: blur(2px); -webkit-filter: blur(2px);}
  to {filter: blur(0px); -webkit-filter: blur(0px);}
}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,30,50,0.50);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.loader > img {
    width: 100px;
}
.loader.hidden {
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut {
    40% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}
/*================ [ END PAGES ] =================*/
