.list_article {
  padding: 0px 12px;
}
.article_card {
  width: 100%;
  display: flex;
  margin-top: 15px;
  background-color: #ffffff;
  transition: .3s;
  overflow: hidden;
  border-radius: 4px;
}
.article_card .article_image {
  width: 200px;
  max-height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.article_card .article_image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.article_card .article_info {
  width: calc(100% - 200px);
  padding: 12px 18px;
}
.article_card .article_info h3 {
  font-size: 19px;
}
.article_card .article_info h3:hover {
  text-decoration: underline;
}
.article_card .article_info h3, .article_card .article_info p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  cursor: pointer;
}
.article_card .article_info small {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.article_card .article_info small [comps="recount-icon"] {
  margin-right: 7px;
}
.article_card .article_info small [comps="recount-time"] {
  padding: 4px 9px;
  border-radius: 5px;
  background-color: #0051ff18;
  display: inline-flex;
  align-items: center;
}
.article_card .article_info small [comps="recount"] {
  padding: 4px 9px;
  border-radius: 5px;
  background-color: #0051ff18;
  display: inline-flex;
  align-items: center;
  margin-left: 6px;
  cursor: pointer;
  overflow: hidden;
}
.button_more {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_more .more_view_article {
  border: 1px solid #d1d1d1;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 3px 9px;
  border-radius: 4px;
}

@media only screen and (max-width: 640px) {
  .article_card {
    display: block;
    height: auto;
  }
  .article_card .article_image {
    width: 100%;
    height: auto;
    max-height: 400px;
  }
  .article_card .article_info {
    width: 100%;
    padding: 12px 0px;
  }
  .article_card .article_info small [comps="recount"] {
    display: none;
  }
}