.header {
  position: fixed;
  top: 0; left: 0;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 50px;
  color: #ffffff;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.623);
}
.header a {
  color: #000000;
}
.header .links {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.header .links a {
  padding: 3px 12px;
  text-decoration: none;
}