@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dongle&family=Fredoka+One&family=Outfit&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,400&family=Roboto&display=swap');
*{
  padding: 0;
  margin: 0;
  font-size: 15px;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
body {
  font-size: 14px;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  background-color: #eaeaea;
}
a {
  text-decoration: none;
  color: #000000;
}
.a-active {
  text-decoration: underline;
  color: #00d5ff;
}
.a-active:hover {
  text-decoration: underline;
  color: #0096ff;
}
hr  {
  background-color: gray;
  border: none;
  padding: 1px;
}
h4 {
  font-weight: normal;
}
/* ============= Navbar ============= */
.nav-link {
  background-color: #0086e4;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  user-select: none;
}
.btn-nav-s {
  display: none;
}
.nav-link .link {
  max-width: 1366px;
  margin: auto;
}
.nav-link .link .item {
  margin: 4px;
  box-sizing: border-box;
}
.nav-link .link .item form {
  float: right;
  width: 30%;
}
.nav-link .link .item form input {
  padding: 2px;
  background-color: transparent;
  color: white;
  border: 0.4px solid white;
  transition: 0.6s;
  width: 88%;
}
.nav-link .link .item form input:focus {
  outline: 5px solid rgba(0,0,36,0.20);
}
.nav-link .link .item form button {
  border: 0.4px solid white;
  background-color: transparent;
  padding: 2px;
  float: right;
  width: 8%;
  color: white;
}
.nav-link .link .item .slc {
  border-bottom: 2px solid #00abff;
  color: white;
  background-color: rgba(50,50,50,0.20);
}
.nav-link .link .item .slc i {
  width: 30px;
}
.nav-link .link .item a {
  padding: 5px;
  margin-right: 5px;
  color: white;
}
.nav-link .link .item a:hover {
  color: white;
  background-color: rgba(50,50,50,0.5);
}

/* ============= Item Prop ============= */
.item {
  padding: 6px;
  box-sizing: border-box;
}
.respon {
  max-width: 1366px;
  margin: auto;
}
.content-normal {
  width: 100%;
  background-color: #ffffff;
}
.content-long-left {
  width: 69.5%;
  background-color: #ffffff;
  float: left;
}
.content-sm-right {
  width: 30%;
  background-color: #ffffff;
  float: right;
}

/* ============= Float ============= */
.box-floating { box-sizing: border-box; overflow: auto;}
.long-left {
  width: 64.5%;
  float: left;
}
.sm-right {
  width: 35%;
  float: right;
}
.sm-left {
  width: 35%;
  float: left;
}
.long-right {
  width: 64.5;
  float: right;
}
.normal-left {
  width: 49.6%;
  float: left;
}
.normal-right {
  width: 49.6%;
  float: right;
}
.d-none { display: none; }
.space { padding-top: 5px; }
.long-space { padding-top: 12px; }
.very-long-space { padding-top: 25px;}
.longger-space { width: 100%; height: 100%; box-sizing: border-box; overflow: auto;}
.img-and-text {
	width: 100%;
 height: 50%;
 max-height: 160px;
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
}

/* ============= Box Revel ============= */
.scroll-x {
  width: 100%;
  margin: hidden;
}
.scroll-x .items {
  display: flex;
  width: 100%;
}
.scroll-x .items img:hover {
  box-shadow: rgba(0,0,0,0.30)0px 0px 24px;
}
/* ============= Box Revel ============= */
.box-revel {
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: rgba(17, 12, 46, 0.15) 2px 2px 12px;
  width: 100%;
  height: 300px;
  overflow: auto;
  box-sizing: border-box;
}
.box-revel .item {
  padding: 10px;
  box-sizing: border-box;
  
}
.box-revel .item .card-revel {
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: rgba(17, 12, 46, 0.15) 2px 2px 12px;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin-bottom: 5px;
  transition: 0.3s;
}
.box-revel .item .card-revel b { transition: 0.3s;}
.box-revel .item .card-revel:hover {
  background-color: #ebebeb;
}
.box-revel .item .card-revel:hover b {
  color: #00c0ff;
}
.box-revel .item .card-revel img {
  width: 15%;
  float: left;
  margin-right: 6px;
}
.box-revel .item .card-revel:hover img {
  opacity: 0.8px;
}
.box-revel .item .card-revel .text h4 {
  font-weight: normal;
  font-size: 13px;
  user-select: none;
}

.list-ul {
  margin-left: 16px;
  padding-left: 8px;
}
.border-close {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.20);
  display: none;
}
.pop-up-bg {
 margin: 12px;
 box-sizing: border-box;
}
.pop-up {
  width: 95%;
  overflow: auto;
  max-width: 500px;
  height: 100%;
  max-height: 700px;
  padding: 8px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 1px 1px 2px rgb(0,0,0,0.20);
  position: fixed;
  top: 12px; left: 12px;
  box-sizing: border-box;
  display: none;
  animation: 0.3s pop-up ease-out;
  margin: auto;
}
@keyframes pop-up {
  0%  { top: -10px; }
  100%{ top: 12px; }
}
.setting form label {
  border: 1px solid gray;
  display: block;
  margin-top: 5px;
  border-radius: 5px;
  padding: 8px;
}
.setting form label .title {
  display: block;
  border-bottom: 0.3px solid gray;
  margin-bottom: 5px;
}
.setting form button {
 border-bottom: 2px solid #00eaff;
 border-right: none;
 border-left: none;
 border-top: none;
 background-color: #00abff;
 padding: 4px 12px 4px 12px;
 color: white;
 border-radius: 4px;
}
.setting form button:hover {
 border-bottom: none;
 border-right: none;
 border-left: none;
 border-top: 2px solid #00abff;
 background-color: #005bb3;
 color: white;
 border-radius: 4px;
}
.setting form label .card-acconts {
  border: 1px solid gray;
  display: block;
  margin-top: 5px;
  border-radius: 5px;
  padding: 8px;

}.setting form label .card-acconts-edit {
  border: 1px solid gray;
  display: block;
  margin-top: 5px;
  border-radius: 5px;
  padding: 8px;
}
.btn-add {
 border-top: none;
 border-right: none;
 border-left: none;
 border-bottom: 2px solid #00ff18;
 background-color: #00e116;
 padding: 4px 12px 4px 12px;
 color: white;
 border-radius: 4px;
 display: inline-block;
}
.btn-add:hover {
 border-bottom: none;
 border-right: none;
 border-left: none;
 border-top: 2px solid #00e116;
 background-color: #00c433;
 color: white;
 border-radius: 4px;
}
.btn-remove {
 border-top: none;
 border-right: none;
 border-left: none;
 border-bottom: 2px solid #ff0a00;
 background-color: #e60900;
 padding: 4px 12px 4px 12px;
 color: white;
 border-radius: 4px;
 display: inline-block;
}
.btn-remove:hover {
 border-bottom: none;
 border-right: none;
 border-left: none;
 border-top: 2px solid #d90900;
 background-color: #c00800;
 color: white;
 border-radius: 4px;
}
tag {
 outline: 0.6px solid gray;
 border-radius: 6px;
 padding: 3px 8px 3px 8px;
 font-size: 12px;
}
@media only screen and (max-width: 720px) {
  /* ============= Navbar ============= */
.nav-link {
  background-color: #0086e4;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  user-select: none;
  overflow: hidden;
  transition: 0.3s;
}
.btn-nav-s {
  display: block;
}
.nav-link .link {
  max-width: 1366px;
  margin: auto;
}
.nav-link .link .item {
  margin: 4px;
  box-sizing: border-box;
}
.nav-link .link .item form {
  float: none;
  width: 100%;
}
.nav-link .link .item form input {
  padding: 2px;
  background-color: transparent;
  color: white;
  border: 0.4px solid white;
  transition: 0.6s;
  width: 88%;
}
.nav-link .link .item form input:focus {
  outline: 5px solid rgba(0,0,36,0.20);
}
.nav-link .link .item form button {
  border: 0.4px solid white;
  background-color: transparent;
  padding: 2px;
  float: left;
  width: 8%;
  color: white;
}
.nav-link .link .item .slc {
  border-bottom: 2px solid #00abff;
  color: white;
  background-color: rgba(50,50,50,0.20);
}
.nav-link .link .item .slc i {
  width: 30px;
}
.nav-link .link .item a {
  padding: 5px;
  margin-right: 5px;
  color: white;
  display: block;
}
.nav-link .link .item a:hover {
  color: white;
  background-color: rgba(50,50,50,0.5);
}

/* ============= Item Prop ============= */
.item {
  padding: 6px;
  box-sizing: border-box;
}
.respon {
  max-width: 1366px;
  margin: auto;
}
.content-normal {
  width: 100%;
  background-color: #ffffff;
}
.content-long-left {
  width: 100%;
  background-color: #ffffff;
  float: none;
}
.content-sm-right {
  width: 100%;
  background-color: #ffffff;
  float: none;
}


/* ============= Float ============= */
.box-floating { box-sizing: border-box; overflow: auto;}
.long-left {
  width: 100%;
  float: none;
}
.sm-right {
  width: 100%;
  float: none;
}
.sm-left {
  width: 100%;
  float: none;
}
.long-right {
  width: 100%;
  float: none;
}
.normal-left {
  width: 100%;
  float: none;
}
.normal-right {
  width: 100%;
  float: none;
}
}